html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    /* height: 100vh; */
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "header header"
        "header2 header2"
        "main main";
}
body p{
    font-size: 18px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);

    margin: auto 0;
    text-align:center;
    position: sticky;
    top: 0;
    padding: 4px 0;
    background-color: #fff;
}
.header.sticky{
    background-color: #fff; /* Change the background color when sticky if needed */
}
.header img{
    max-width:250px;
}
.navLinks{
    font-size:x-large;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin-top: 5px;
}
.navLinks:hover{
    color: #4e7968;
    transform: translateY(-5px);
    transition: 0.5s;
}

.header2{
    grid-area: header2;
    text-align: center;
    max-height: 700px;
    height: auto;
    margin-bottom: 20px;
}
.header2 img{
    display: block;
    width: 100%;
    max-height: 700px;
    height: auto;
    object-fit: cover;
}
/* .header2 video{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
#backVideo{
    width: 100%;
    object-fit:cover;
}
#btnicon{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
    width: 100px;
    cursor: pointer;
} */

.main{
    background-color: #fff;
    grid-area: main;
    margin: 0 10%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-template-areas:
        "c1 c1 c2" 
        "c3 c3 c4" 
        "c5 c5 c5" 
        "c6 c7 c8"
        "c9 c10 c11"
        "c12 c12 c12"
        "c13 c14 c14"
        "footer footer footer";
    gap: 30px;
}
.card {
    background-color: #f1eeec;
    border-radius: 10px;
}
.card a{
    text-decoration: none;
    color: #000;
}
#contact-left a{
    margin-left: 20px;
}
.card i{
    font-size: 30px;
    margin:0 10px 0 0;
}
#services i{
    font-size: 1.3em;
}
.card:nth-child(1),
.card:nth-child(3),
.card:nth-child(6),
.card:nth-child(7),
.card:nth-child(8),
.card:nth-child(9),
.card:nth-child(10),
.card:nth-child(11),
.card:nth-child(12){
    padding: 0 30% 20px 20px;
}
.card:nth-child(13) h1{
    margin-left: 20px;
}
.card:nth-child(1) {
    grid-area: c1;
}
.card:nth-child(2) {
    grid-area: c2;
    max-height: 600px;
    text-align: center;
}
.card:nth-child(2) img{
    height: 100%;
}
.card:nth-child(3) {
    grid-area: c3;
}
.card:nth-child(4) {
    grid-area: c4;
}
.card:nth-child(5) {
    grid-area: c5;
    font-size: 20px;
    text-align: center;
}
.card:nth-child(6) {
    grid-area: c6;
}
.card:nth-child(7) {
    grid-area: c7;
}
.card:nth-child(8) {
    grid-area: c8;
}
.card:nth-child(9) {
    grid-area: c9;
}
.card:nth-child(10) {
    grid-area: c10;
}
.card:nth-child(11) {
    grid-area: c11;
}
.card:nth-child(12) {
    grid-area: c12;
}
.card:nth-child(13) {
    grid-area: c13;
}
.card:nth-child(13) i{
    color: #4e7968;
}
.card:nth-child(14) {
    grid-area: c14;
    padding-left: 20px;
}
.footer {
    grid-area: footer;
    text-align: center;
    width: 100%;
    background-color: #f1eeec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.button{
    display:inline-block;
    font-size: 1em;
    text-decoration: none;
    background-color: #4e7968;
    padding: 16px 50px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.button:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.card input,textarea{
    display: list-item;
    width: 50%;
    font-size: 18px;
    background-color: #f1eeec;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
::placeholder{
    color: #000;
}
.social-icons{
    margin: 50px 0;
}
.social-icons i:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.maps iframe{
    border-radius: 10px;
}
footer p{
    font-size: 16px;
}
/* ---------About me/Bærekraft--------- */
.about-main{
    background-color: #fff;
    grid-area: main;
    margin: 0 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-template-areas:
        "c1-1 c1-1" 
        "c2-1 c2-1" 
        "c3-1 c3-1"
        "c4-1 c4-1"
        "c5-1 c6-1"
        "footer footer";
    gap: 30px;
}
.about-card{
    background-color: #f1eeec;
    border-radius: 10px;
    padding: 0 25%;
}
.about-card a{
    text-decoration: none;
    color: #000;
}
.about-card i{
    font-size: 30px;
    margin:0 10px 0 0;
}
.about-card:nth-child(1){
    grid-area: c1-1;
    text-align: center;
    font-size: 20px;
}
.about-card:nth-child(2){
    grid-area: c2-1;
    padding-top: 3%;
    padding-bottom: 3%;
}
.about-card:nth-child(3){
    grid-area: c3-1;
    text-align: center;
}
.about-card:nth-child(3) h1{
    font-style: oblique;
    quotes: '\201D' '\201D';
}
.about-card:nth-child(4){
    grid-area: c4-1;
    background-color: #fff;
    padding: 0;
}
.about-card:nth-child(4) img{
    width: 100%;
    max-height: 600px;
    object-fit: contain;
    border-radius: 10px;
}
.about-card:nth-child(5){
    grid-area: c5-1;
    padding: 0;
}
.about-card:nth-child(5) i{
    color: #4e7968;
}
.about-card:nth-child(5) h1{
    padding: 0 20px;
}
.about-card:nth-child(5) a{
    padding-left: 20px;
}
.about-card:nth-child(6){
    grid-area: c6-1;
    padding: 0 3%;
}
.about-card input,textarea{
    display: list-item;
    width: 50%;
    font-size: 18px;
    background-color: #f1eeec;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
::placeholder{
    color: #000;
}
/* --------Less-main-------- */
.less-main{
    background-color: #fff;
    grid-area: main;
    margin: 0 10%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-template-areas:
        "c1-2 c1-2" 
        "c2-2 c3-2" 
        "c4-2 c5-2"
        "c6-2 c6-2"
        "c7-2 c7-2"
        "c8-2 c8-2"
        "c9-2 c10-2"
        "footer footer";
    gap: 30px;
}
.less-card{
    background-color: #f1eeec;
    border-radius: 10px;
    padding: 0 20px;
}
.less-card a{
    text-decoration: none;
    color: #000;
}
.less-card i{
    font-size: 30px;
    margin:0 10px 0 0;
}
.less-card:nth-child(1){
    grid-area: c1-2;
    text-align: center;
}
.less-card:nth-child(2){
    grid-area: c2-2;
}
.less-card:nth-child(3){
    grid-area: c3-2;
}
.less-card:nth-child(4){
    grid-area: c4-2;
}
.less-card:nth-child(5){
    grid-area: c5-2;
}
.less-card:nth-child(6){
    grid-area: c6-2;
}
.less-card:nth-child(7){
    grid-area: c7-2;
    text-align: center;
}
.less-card:nth-child(8){
    grid-area: c8-2;
    text-align: center;
    background-color: #fff;
}
.less-card:nth-child(8) img{
    object-fit: contain;
    width: 100%;
    max-height: 400px;
}
.less-card:nth-child(9){
    grid-area: c9-2;
    padding: 0;
}
.less-card:nth-child(9) i{
    color: #4e7968;
}
.less-card:nth-child(9) h1{
    padding: 0 20px;
}
.less-card:nth-child(9) a{
    padding-left: 20px;
}
.less-card:nth-child(10){
    grid-area: c10-2;
    padding: 0 3%;
}
.less-card input,textarea{
    display: list-item;
    width: 50%;
    font-size: 18px;
    background-color: #f1eeec;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
/* --------Less-main-------- */

@media (max-width: 925px) {
    .card:nth-child(1),
    .card:nth-child(3),
    .card:nth-child(6),
    .card:nth-child(7),
    .card:nth-child(8),
    .card:nth-child(9),
    .card:nth-child(10),
    .card:nth-child(11),
    .card:nth-child(12){
        padding: 0 20px 20px 20px;
    }
    .card:nth-child(14){
        padding: 0 0 20px 10px;
    }
    body{
        grid-template-rows: 50px auto;
        grid-template-areas: 
        "header"
        "header2"
        "main";
    }
    .header{
        grid-template-columns: 0.7fr 1fr 0 1fr 1fr;
        /* grid-template-rows: repeat(1, 1fr); */
        /* text-align: center; */
        margin: 10px none;
        padding: 11px 0;
    }
    .header img{
        display:none;
    }
    .main{
        margin: 0 5%;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto);
        grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4" 
        "c5" 
        "c6"
        "c7"
        "c8"
        "c9"
        "c10"
        "c11"
        "c12"
        "c13"
        "c14"
        "footer";
    }
    body h1{
        font-size: 24px;
    }
    body p{
        font-size: 16px;
    }
    .navLinks{
        font-size: 20px;
    }
    .header img{
        width: 100px;
        padding: 20px 0;
    }
    .card input,textarea{
        width: 90%;
    }
    #strategy{
        width: 100%;
    }
    footer p{
        font-size: 14px;
    }
    .navLinks:hover{
        color: #000;
        transform: none;
    }
    .button:hover{
        transform: none;
    }
    .social-icons i:hover{
        transform: none;
    }
    /* -----About me/Bærekraft----- */
    .about-main{
        margin: 0 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto);
        grid-template-areas:
            "c1-1" 
            "c2-1" 
            "c3-1"
            "c4-1"
            "c5-1"
            "c6-1"
            "footer";
    }
    .about-card:nth-child(6){
        padding: 0 0 20px 10px;
    }
    .about-card{
        padding: 0 20px;
    }
    .about-card input,textarea{
        width: 90%;
    }
    /* -----About me/Bærekraft----- */

    /* -----Less-main------- */
    .less-main{
        background-color: #fff;
        grid-area: main;
        margin: 0 5%;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto);
        grid-template-areas:
            "c1-2" 
            "c2-2" 
            "c3-2" 
            "c4-2" 
            "c5-2"
            "c6-2"
            "c7-2"
            "c8-2"
            "c9-2"
            "c10-2"
            "footer";
        gap: 30px;
    }
    .less-card:nth-child(10){
        padding: 0 0 20px 10px;
    }
    .less-card{
        padding: 0 20px;
    }
    .less-card input,textarea{
        width: 90%;
    }
    /* -----Less-main------- */

}